.feedback-form {
  height: 296px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}
.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.email-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.email-field:hover,
.email-field:focus {
  border: 1px solid #000;
}
.message-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}
